{{ 'custom-email-signup.css' | asset_url | stylesheet_tag }}
{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}
{{ 'section-email-signup-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{%- style -%}
  *, a{
    font-family: 'Inter', sans-serif;
    color: {{ section.settings.text_color }};
  }

  #custom-signup-main {
    background-image: url({{ section.settings.image | image_url }});
    background-color: {{ section.settings.background_color }};
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    padding: 6rem 0;
  }
{%- endstyle -%}

<div id="custom-signup-main" class="type--{{ section.settings.style }}">
  {%- if section.settings.style == 'no-land' or section.settings.style == 'sport-ivory' -%}
    <div class="coming-soon"><span>coming</span><span>soon</span></div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <img src="{{ section.settings.logo | image_url }}" alt="" class="logo" />
        </div>
      </div>
      {%- if section.settings.text != blank -%}
        <div class="row justify-content-center">
          <div class="col-12 col-md-8">
            <div class="text-container">
              {{ section.settings.text }}
            </div>
          </div>
        </div>
      {%- endif -%}
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <ul class="links">
            <li><a data-fancybox data-src="#hidden-content" href="javascript:;">Subscribe</a></li>
            {%- if section.settings.link != blank -%}
              <li><a href="{{section.settings.link}}" target="_blank">
                {%- if section.settings.link_title != blank-%}
                  {{section.settings.link_title}}
                {%- else -%}
                  Instagram
                {%- endif -%}
              </a></li>
            {%- endif -%}
          </ul>
        </div>
      </div>
    </div>
  {%- elsif section.settings.style == 'livrae' -%}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img src="{{ section.settings.logo | image_url }}" alt="" class="logo" />
      </div>
    </div>
    {%- if section.settings.text != blank -%}
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <div class="text-container">
            {{ section.settings.text }}
          </div>
        </div>
      </div>
    {%- endif -%}
    <div class="row justify-content-center">
      <div class="col-12 col-md-7">
        <div class="custom-form-container">
          <div {{ block.shopify_attributes }}>
            {% form 'customer', class: 'newsletter-form' %}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder="Email Address"
                    required
                  >
                  <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                  <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                    Get Notified
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {% endform %}
          </div>
        </div>
      </div>
    </div>
    {%- if section.settings.link != blank -%}
      <div class="row">
        <div class="col-12">
          <ul class="links">
            <li>
              <a href="{{section.settings.link}}" class="link list-social__link">
                {%- render 'icon-instagram' -%}
                <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    {%- endif -%}
  </div>
  {%- elsif section.settings.style == 'dala' -%}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="grid-container">
            <div class="sub">
              <span>coming</span>
              <span>soon</span>
            </div>
            <div class="logo-container">
              <img src="{{ section.settings.logo | image_url }}" alt="" class="logo" />
              {%- if section.settings.text != blank -%}
                <div class="text-container">
                  {{ section.settings.text }}
                </div>
              {%- endif -%}
            </div>
            <div class="form-container">
              <div {{ block.shopify_attributes }}>
                {% form 'customer', class: 'newsletter-form' %}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <div class="newsletter-form__field-wrapper">
                    <div class="field">
                      <input
                        id="NewsletterForm--{{ section.id }}"
                        type="email"
                        name="contact[email]"
                        class="field__input"
                        value="{{ form.email }}"
                        aria-required="true"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="email"
                        {% if form.errors %}
                          autofocus
                          aria-invalid="true"
                          aria-describedby="Newsletter-error--{{ section.id }}"
                        {% elsif form.posted_successfully? %}
                          aria-describedby="Newsletter-success--{{ section.id }}"
                        {% endif %}
                        placeholder="Email Address"
                        required
                      >
                      <label class="field__label" for="NewsletterForm--{{ section.id }}">
                        {{ 'newsletter.label' | t }}
                      </label>
                      <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                        Get Notified
                      </button>
                    </div>
                    {%- if form.errors -%}
                      <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                    {%- endif -%}
                  </div>
                  {%- if form.posted_successfully? -%}
                    <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                  {%- endif -%}
                {% endform %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {%- if section.settings.link != blank -%}
        <div class="row">
          <div class="col-12">
            <ul class="links">
              <li>
                <a href="{{section.settings.link}}" class="link list-social__link">
                  {%- render 'icon-instagram' -%}
                  <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}
</div>
<div style="display: none;" id="hidden-subscribe">
  <div {{ block.shopify_attributes }}>
    {% form 'customer', class: 'newsletter-form' %}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="newsletter-form__field-wrapper">
        <div class="field">
          <input
            id="NewsletterForm--{{ section.id }}"
            type="email"
            name="contact[email]"
            class="field__input"
            value="{{ form.email }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              autofocus
              aria-invalid="true"
              aria-describedby="Newsletter-error--{{ section.id }}"
            {% elsif form.posted_successfully? %}
              aria-describedby="Newsletter-success--{{ section.id }}"
            {% endif %}
            placeholder="Email Address"
            required
          >
          <label class="field__label" for="NewsletterForm--{{ section.id }}">
            {{ 'newsletter.label' | t }}
          </label>
          <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
            Get Notified
          </button>
        </div>
        {%- if form.errors -%}
          <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
        {%- endif -%}
      </div>
      {%- if form.posted_successfully? -%}
        <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
      {%- endif -%}
    {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "Email Sign Up Custom",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#FFFFFF"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Be the first to know when we launch.</p>",
      "label": "t:sections.email-signup-banner.blocks.paragraph.settings.paragraph.label"
    },
    {
      "type": "text",
      "id": "link_title",
      "label": "Instagram Link Title"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Instagram Link"
    },
    {
      "type": "select",
      "id": "style",
      "options": [
        {
          "value": "dala",
          "label": "Dala"
        },
        {
          "value": "no-land",
          "label": "No Land"
        },
        {
          "value": "sport-ivory",
          "label": "Sport Ivory"
        },
        {
          "value": "livrae",
          "label": "Livrae"
        }
      ],
      "default": "dala",
      "label": "Choose Style",
      "info": "Choose one of the prebuilt styles"
    }
  ],
  "presets": [
    {
      "name": "Email Sign Up - Custom"
    }
  ],
  "templates": [
    "password"
  ]
}
{% endschema %}
